.space {
	padding-bottom: 10px;
}
.container-fluid {
	width: 90%;
	padding: 0;
}
p {
	text-align: center;
	padding-bottom: 20px;
	margin-top: 0px;
}
.navbar {
	margin-bottom: 5px;
}
.hide {
	display:  none;
}
.record {
	color: red;
}
.btn:focus,.btn:active {
   outline: none !important;
}
